<div class="heading-Box">
  <span class="border"></span>
  <span class="heading-content"> Bundle & Save</span>
  <span class="border"></span>
</div>
<div class="first-box" [ngClass]="{'first-box-click':first }">
  <div>
    <input type="radio" id="1Pair" name="1Pair" value="1Pair" (change)="change('first')">
      <label for="1Pair">1 Pair <div class="price"> DKK 195.00</div></label><br>
    <table class="table-head" *ngIf="first">
      <tr>
        <th> </th>
        <td>size</td>
        <td>size</td>
      </tr>
      <tr>
        <td>#1 </td>
        <td><select name="size" id="size" class="select">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
            <option value="XXXL">XXXL</option>
          </select></td>
        <td><select name="size" id="size" class="select">
            <option value="red">Red</option>
            <option value="Black">Black</option>
            <option value="blue">blue</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="gray">gray</option>
            <option value="purple">purple</option>
          </select></td>
      </tr>
      <tr>
        <td>#1 </td>
        <td><select name="size" id="size" class="select">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
            <option value="XXXL">XXXL</option>
          </select></td>
        <td><select name="size" id="size" class="select">
            <option value="red">Red</option>
            <option value="Black">Black</option>
            <option value="blue">blue</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="gray">gray</option>
            <option value="purple">purple</option>
          </select></td>
      </tr>
    </table>

  </div>
  <div class=first-fox-distance> 50% OFF</div>
</div>''
<div class="first-box-second" [ngClass]="{'first-box-click':second }">
  <div>
    <input type="radio" id="1Pair" name="1Pair" value="1Pair" (change)="change('second')">
      <label for="1Pair">2 Pair <div class="price"> DKK 345.00 <span class="line-break"> <del> DKK 195.00 </del></span>
      </div>
    </label>
    <table class="table-head" *ngIf="second">
      <tr>
        <th> </th>
        <td>size</td>
        <td>size</td>
      </tr>
      <tr>
        <td>#1 </td>
        <td><select name="size" id="size" class="select">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
            <option value="XXXL">XXXL</option>
          </select></td>
        <td><select name="size" id="size" class="select">
            <option value="red">Red</option>
            <option value="Black">Black</option>
            <option value="blue">blue</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="gray">gray</option>
            <option value="purple">purple</option>
          </select></td>
      </tr>
      <tr>
        <td>#1 </td>
        <td><select name="size" id="size" class="select">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
            <option value="XXXL">XXXL</option>
          </select></td>
        <td><select name="size" id="size" class="select">
            <option value="red">Red</option>
            <option value="Black">Black</option>
            <option value="blue">blue</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="gray">gray</option>
            <option value="purple">purple</option>
          </select></td>
      </tr>
    </table>

  </div>
  <div class=second-fox-distance>
    <span class="color-green"> Most Popular </span>
    <div style="position: absolute; right: 0px;"> 40% OFF</div>

  </div>
</div>
<div class="first-box" [ngClass]="{'first-box-click':third }">
  <div>
    <input type="radio" id="1Pair" name="1Pair" value="1Pair" (change)="change('third')">
      <label for="1Pair">3 Pair <div class="price"> DKK 528.00</div></label><br>
    <table class="table-head" *ngIf="third">
      <tr>
        <th> </th>
        <td>size</td>
        <td>size</td>
      </tr>
      <tr>
        <td>#1 </td>
        <td><select name="size" id="size" class="select">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
            <option value="XXXL">XXXL</option>
          </select></td>
        <td><select name="size" id="size" class="select">
            <option value="red">Red</option>
            <option value="Black">Black</option>
            <option value="blue">blue</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="gray">gray</option>
            <option value="purple">purple</option>
          </select></td>
      </tr>
      <tr>
        <td>#1 </td>
        <td><select name="size" id="size" class="select">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
            <option value="XXXL">XXXL</option>
          </select></td>
        <td><select name="size" id="size" class="select">
            <option value="red">Red</option>
            <option value="Black">Black</option>
            <option value="blue">blue</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="gray">gray</option>
            <option value="purple">purple</option>

          </select></td>
      </tr>
    </table>
  </div>
  <div class=first-fox-distance> 60% OFF</div>
  <div class=first-fox-distance> 60% OFF</div>

</div>
<div class="heading-Box ">
  <div class="free-day"> Free 2 Day Shipping</div>
  <div> Total: DKK 360.00</div>

</div>
<div class="heading-Box ">
  <div class="free-day"> Free 2 Day Shipping</div>
  <div> Total: DKK 360.00</div>
  <div class="free-day"> Free 2 Day Shipping</div>
  <div> Total: DKK 360.00</div>
</div>
<div class="Add-Cart">+ Add to Cart </div>